@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root {
    --primary-color:#333;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}

body{
    overflow: hidden;
    font-family: 'Lato',sans-serif;
    color: #333;
    line-height: 1.6;
    font-weight: bold;
    
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;

}
h1,
h2{
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin: 10px 0;
    font-weight: bold;
    
}
img{
    width: 100%;
}
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul{
    display: flex;
}
.navbar a{
    color:#fff;
    padding: 10px;
    margin:0 5px;
}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.showcase{
    background-color: var(--primary-color);
    color: #fff;
    
}
.container.flex{
    justify-content: space-around;
    margin: 10px ;
    overflow: hidden;

}
.canvas.flex{
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem ;
    
}

.container{
    max-width: 100%;
    margin:0 auto;
    overflow: auto;
    padding: 0 40px;
}
.flex{
    display:flex;
   
}
.row.flex{
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
}

.output.flex{
    justify-content:space-between;
    flex-direction: column;
    

}
.feature.flex{
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.filter.flex{
    justify-content: space-between;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.images.flex{
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    
}
.feature.card{
    text-align: center;
    background-color: #000000;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 8px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    
}
.output.card{
    margin-top: 50px;
    background-color:#fff;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 10px;
}
.filter.card{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 12px;
    background-color: #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    
}
.neuron.card{
    background-color: #333;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align:center;
    color:#fff;
    margin-right: 5px;
    
}
.neuron.card h4{
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
.prompts{
    display: inline-block;
    padding: 10px 30px;
    cursor:pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border: radius 5px;
    margin-top: 15px;
    max-width: 100%;
    max-height: 100%;
    font-weight: bold;
    text-align: center;

}
/*img {
    border-radius: 50%;
  }*/

canvas {
    position: relative;
    border: 2px solid black;
    margin: 10px 25px 0 0;
}
.highlight{
    background-color: green;
}
button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    cursor:pointer;
    border: none;
    border: radius 5px;
    margin-top: 15px;
    max-width: 30%;
    max-height: 30%;
    font-weight: bold;
  }

 

/* #hidden {
    visibility:visible;
  } */


  @media(max-width: 768px)
  {

  }

  @media(max-width: 500px){
      .navbar{
          height: 110px;
      }
      .navbar ul{
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.1);
      }
  }
 
